/* 全体に適応させる部分 */
html {
    overflow: hidden;
    background-color: #C0EEF2;
}
.screen {
    display: none;
    margin: 10% 0 0 0;
}
#screen2 {
    margin: 4% 0 0 0;
}
.screen.active {
    display: block;
}
.button_parent {
    text-align: center;
}
button {
    display: inline-block;
    background-color: white;
    color: #181823;
    font-size: 300%;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 3.4375rem;
    border: 0.35rem solid #181823;
    font-weight: bold;
    transition: 0.25s;
}
button:hover {
    background-color: white;
    transition: 0.25s;
    border: 0.35rem solid #eb455f;
    color: #eb455f;
}
.b2_special:hover {
    background-color: white;
    transition: 0.25s;
    border: 0.35rem solid #eb455f;
    color: #eb455f;
}
/* スクリーン1 */
#screen1 {
    /* overflow: hidden; */
    background-color: #C0EEF2;
    /* height: 3000px; */
}
.main_1 {
    padding: 0 0 0 0;
    /* margin: 100px 0 0 0; */
}
/* タイピングソフト(仮) */
/* .title_entire{ 
    background-color: #ffffff;
    width: 35%;
    height: 9.375rem;
    margin: 3.125rem auto 0 auto;
    border-radius: 1.25rem;
    border: 0.4375rem solid #181823;
    display: flex;
} */
.title_entire {
    text-align: center;
}
.title_text {
    display: inline-block;
    margin: auto;
    color: #eb455f;
    font-weight: 900;
    font-size: 370%;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 1.25rem;
    border: 0.4375rem solid #eb455f;
}
/* ボタン1 */
#button1 {
    margin: 9.375rem;
}



/* スクリーン2 */
#screen2 {
    background-color: #C0EEF2;
}

/* タイマー */
@font-face {
    font-family: "DSEG";
    src: url("DSEG7-Classic/DSEG7Classic-Regular.ttf")
}
#time {
    font-family: DSEG;
    font-size: 5rem;
    color: #181823;
    background-color: white;
    display: inline-block;
    padding: 1rem;
    border: 0.3125rem solid #181823;
    margin: 0 0 0 0;
}
#start, #stop, #reset {
    background-color: white;
    font-size: 3rem;
    display: none;
}

/* 文字を表示させる部分 */
.display_parent {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    min-width: 70%;
    max-width: 90%;
    text-align: center;
    font-size: 400%;
    /* width: 70%; */
    background-color: white;
    border-radius: 0.9375rem;
    border: 0.3125rem solid #181823;
    padding: 0.47rem 0 0.1875rem 0;
    color: #181823;
    font-weight: bold;
    /* 位置調整 */
    text-align: center;
    margin: 5% auto 0 auto;
}
#button2_parent {
    /* 中央揃え */
    display: flex;
    justify-content: center;
}
.button2 {
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    margin: 0 auto;
    top: 35rem;
    width: fit-content;
}
/* 警告文の表示 */
.warn_parent {
    text-align: center;
}
.warn {
    margin: 0.625rem 0 6.25rem 0;
    font-size: 150%;
    text-decoration: underline;
}
/* スクリーン2の背景について */
#screen2_back {
    top: 0.625rem;
    left: 0.625rem;
    font-size: 400%;
    color: #eb455f;
}
.main_2 {
    text-align: center;
    margin: 0 auto;
}

/* スクリーン3 */
#screen3 {
    background-color: #C0EEF2;
}
#button3 {
    margin: 7%  0 0 1.3%;
}
#button4 {
    margin: 7% 1.3% 0 0;
}
/* スコアについて */
.score_parent {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: white;
    min-width: 74rem;
    max-width: 80rem;
    margin: 1% auto 0 auto;
    padding: 1rem;
    border-radius: 0.9375rem;
    border: 0.4125rem solid #181823;
}
#result {
    color: #181823;
    font-size: 3rem;
    letter-spacing: -0.08em;
}
#score {
    color: #eb455f;
    font-size: 7rem;
    font-weight: bold;
    line-height: 100%;
}

/* 処理に関するCSS */

#fs_display {
    color: #eb455f;
}
#romaji_parent {
    text-align: center;
}
#romaji {
    display: inline;
    font-size: 75%;
}
#fs_display {
    display: inline;
    font-size: 85%;
}
